<div id="new-task-page">
  <div class="new-task-form">
    <div class="form-content">
      <h1>Create your new task</h1>

      <%= form_for ([@destination,@task]), url: destination_tasks_path, html: { method: :post } do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :notes %>
        <%= f.text_field :notes %>
        <%= f.submit %>
      <% end %>

      <%= link_to "Return to destination", destination_path(@destination), class: "btn btn-primary blue-btn"%>
    </div>
  </div>
</div>
