<div id="new-task-page">
  <div class="new-task-form">
    <div class="form-content">
      <h1>Create your new task</h1>

      <%= simple_form_for [@destination, @task] do |f| %>
      <%= f.input :title,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Task title" }%>
      <%= f.input :notes,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Task notes" }%>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Return to destination", destination_path(@destination), class: "btn btn-primary blue-btn"%>
    </div>
  </div>
</div>
