<div id="user-show-page">
  <div class="user-show-page-top">
    <h1>Welcome to your dashboard, <%= current_user.first_name %>!</h1>
    <h3>Manage your destinations, tasks and memories all from one location!</h3>
  </div>
  <div class="user-show-page-left">
  <h3>Your destinations</h3>
    <ul style="overflow:scroll;">
    <% if @user.destinations.size == 0  %>
      <li>It looks like you have no destinations yet! Click on add destinations to begin your next adventure!</li>
    <% else %>
      <% @user.destinations.each do |destination| %>
      <div class="destination">
        <li><%= link_to destination.name, destination_path(destination) %>
          <% if destination.visited == true %>
            <p class="status">&#x2705;</p>
          <% else %>
            <p class="status">&#10060;</p>
          <% end %>
        </li>
      </div>
      <% end %>
    <% end %>
    </ul>
  </div>
    <div class="user-show-page-right">
      <div class="map" style="width: 100%; height: 100%;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  <div class="user-show-page-bottom">
    <button class="btn-navigate">
      <%= link_to "Add a destination", new_destination_path %>
    </button>
  </div>
</div>
