<div id="new-destination-page">
  <div class="new-destination-form">
    <div class="form-content">
      <h1>Create your new destination</h1>
      <%= simple_form_for(@destination) do |f| %>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Destination name" } %>
      <%= f.input :address,
                  input_html: { data: { geocoder_target: "address" },
                  class: "d-none"  },
                  wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      <%= f.label :is_positive do %>
        <%= f.check_box :visited, as: :boolean, checked_value: true, unchecked_value: false %> <span class="labelText">I have been to this destination before</span>
      <% end %>
        <%= f.button :submit, "Create destination", class: "create-destination-btn" %>
      <% end %>
      <%= link_to "Return to dashboard", authenticated_root_path, class: "btn btn-primary blue-btn"%>
    </div>
  </div>
</div>
