<h1>Create your new destination</h1>
  <%= simple_form_for(@destination) do |f| %>
  <%= f.input :name %>

  <%= f.input :address,
              input_html: { data: { geocoder_target: "address" }, class: "d-none"  },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
  <%= f.check_box :visited, as: :boolean, checked_value: true, unchecked_value: false %> <span class="labelText">I have been to this destination before</span>
  <p></p>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

<p><%= link_to "Return to dashboard", authenticated_root_path, class: "btn btn-primary blue-btn"%></p>
